server:
  port: 8083
  servlet:
    context-path: /planner-service

spring:
  application:
    name: planner-service

  datasource:
    url: jdbc:postgresql://localhost:5432/planner_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true

  cloud:
    discovery:
      enabled: true

#eureka:
#  client:
#    enabled: true
#    register-with-eureka: true
#    fetch-registry: true
#    service-url:
#      defaultZone: http://localhost:8761/eureka
eureka:
  instance:
    prefer-ip-address: true
    hostname: localhost

logging:
  level:
    root: INFO
    org.springframework.web: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql: TRACE
    org.springframework.cloud.netflix.eureka: INFO
